html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

/*----------------INICIO-------------------------------------*/
.wrap {
	margin-top: -300px;
	width: 98.9vw;
	height: 130vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, rgb(0 0 0 / 0), rgb(0 0 0 / .5)), url("https://lirp.cdn-website.com/20adca72/dms3rep/multi/opt/construccion+de+edificios+en+monterrey-960w.jpg");
	background-size: cover;

}

.wrap-texto {
	margin-top: 90px;
	color: #fff;
	text-align: center;
	font-size: 80px;
}

.etih {
	width: 800px;
	font-size: 70px;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 80px);
}



/*--------------MENU*------------------*/
nav {
	background: #fff;
	height: 80px;
	box-shadow: rgba(41, 42, 42, 0.2) 0px 8px 24px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
}

nav a {
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav a:hover {
	background: rgba(71, 218, 218, 0.2);
}

nav .indicador {
	width: 0px;
	height: 7px;
	background: #3bdbe1;
	position: absolute;
	bottom: 0;
	transition: .3s ease-out all;
	transform: translate(-500px);
}

/*-------------------Contenido (Esatructura)--------------------*/
.seccion {
	min-height: 100vh;
	max-width: 2000px;
	width: 90%;
	margin: auto;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.seccion .card {
	background: #fff;
	height: 90%;
	padding: 40px;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.seccion h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.EDIIMA {
	width: 100vw;
}

.EDIP {
	display: flex;
	float: right;
	width: 500px;
}


.seccion p {
	line-height: 38px;
	margin-bottom: 40px;
	color: #494949;
	font-size: 20px;
}

.seccion img {
	width: 50%;
	height: 400px;
	vertical-align: top;
	margin-bottom: 20px;
}



@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	nav a {
		font-size: 12px;
	}
}


/*------   SERVICIO  ------------*/
.slide {
	display: flex;
	float: left;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	width: 500px;
	height: 290px;
}

.slide-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(300px + 3em);
}

.slide-open:checked+.slide-item {
	position: static;
	opacity: 100;
}

.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}

.slide-item img {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 290px;
}

.slide-control {
	background: rgba(54, 226, 229, 0.800);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}

.slide-control.prev {
	left: 2%;
}

.slide-control.next {
	right: 2%;
}

.slide-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
	display: block;
}

.slide-indicador {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

.slide-indicador li {
	display: inline-block;
	margin: 0 5px;
}

.slide-circulo {
	color: #828282;
	cursor: pointer;
	display: block;
	font-size: 35px;
}

.slide-circulo:hover {
	color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
	color: #428bca;
}

.EDIPs {
	margin-left: 550px;
}



/*------ CONTACTOS --------*/
.EDIPC {
	float: right;
	width: 500px;
	text-align: center;
	font-weight: bold;

}

.DaCot {
	float: right;
	margin-top: -370px;
	margin-right: 50px;
	width: 450px;
}

span {
	color: #0097A7;
}

.color,
.tcs {
	color: #000;
}

.tcs {
	margin-left: 20px;
	text-decoration: underline;
	text-decoration-color: #71edf1;
}

.fa-solid {
	color: #0097A7;
}

.EDID {
	margin-top: -80px;
	margin-left: 50px;
	width: 400px;
	font-size: 20px;
}